@model Rentalis_v2.Models.CarModels
@{
    ViewBag.Title = "CarDetails";
    Layout = "~/Views/Shared/_AdminTestLayout.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Admin">Admin</a>
    </li>
    <li class="breadcrumb-item active">Szczegóły użytkownika</li>
</ol>
<div class="jumbotron">
    <dl class="row">

        <dt class="col-sm-2">
            Zdjęcie
        </dt>

        <dd class="col-sm-10">
            <img src="/Admin/RetrieveImage/@Model.Id" alt="" height=100 width=200 />
        </dd>

        <dt class="col-sm-2">
            Nazwa
        </dt>

        <dd class="col-sm-10">
            <b>@Html.DisplayFor(model => model.Name)</b>
        </dd>

        <dt class="col-sm-2">
            Cena za 24h
        </dt>
        <dd class="col-sm-10">
            <b>@Html.DisplayFor(model => model.PricePerDay)</b>
        </dd>

        <dt class="col-sm-2">
            Rok produkcji
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductionYear)
        </dd>

        <dt class="col-sm-2">
            Numer rejestracyjny
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlateNumber)
        </dd>

        <dt class="col-sm-2">
            Opis
        </dt>

        <dd class="col-sm-10">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
        </dd>

        <dt class="col-sm-2">Abs</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Abs)</dd>

        <dt class="col-sm-2">PowerSteering</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.PowerSteering)</dd>

        <dt class="col-sm-2">AirConditioning</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AirConditioning)</dd>

        <dt class="col-sm-2">CentralLocking</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.CentralLocking)</dd>

        <dt class="col-sm-2">AirBags</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.AirBags)</dd>

        <dt class="col-sm-2">Doors</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Doors)</dd>
        <dt class="col-sm-2">Seets</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Seets)</dd>
        <dt class="col-sm-2">FuelType</dt>
        <dd class="col-sm-10">
            @if (Model.FuelType == 0)
            {
                <p>Benzyna</p>
            }
            else if (Model.FuelType == 1)
            {
                <p>Diesel</p>
            }
            else if (Model.FuelType == 2)
            {
                <p>Benzyna + LPG </p>
            }
        </dd>
        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">
            @if (Model.Type == 0)
        {
            <p>Sedan</p>
        }
        else if (Model.Type == 1)
        {
            <p>Hatch-back</p>
        }
        else if (Model.Type == 2)
        {
            <p>Kombi </p>
        }
        else if (Model.Type == 3)
        {
            <p>Pick-up </p>
        }
        else if (Model.Type == 4)
        {
            <p>Kabriolet </p>
        }
        else if (Model.Type == 5)
        {
            <p>Minivan </p>
        }
        else if (Model.Type == 6)
        {
            <p>Limuzyna </p>
        }
    </dd>
    <dt class="col-sm-2">GearBox</dt>
    <dd class="col-sm-10">
        @if (Model.GearBox == 0)
    {
        <p>Manualna</p>
    }
    else if (Model.GearBox == 1)
    {
        <p>Automatyczna</p>
    }
</dd>




<div class="form-group">
    <div class="col-md-offset-1 col-md-11">
        @*@Html.ActionLink("Edytuj", "EditCar", new { id = Model.Id }, new { @class = "btn btn-success" })*@
        @Html.ActionLink("Wróć do listy samochodów", "Cars", null, new { @class = "btn btn-dark" })
    </div>
</div>
</dl>
</div>