@model Rentalis_v2.Models.ServiceCarViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminTestLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h2>Create</h2>
        <hr />
        @using (Html.BeginForm("Create","Service"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Service</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.serviceName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.serviceName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.serviceName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FromDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FromDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FromDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ToDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ToDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ToDateTime, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>


            @*<div class="form-group">
            @Html.LabelFor(model => model.CarModelsID, "serviceCar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("serviceCar", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CarModelsID, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                @*@Html.LabelFor(model => model.CarModelsID, "serviceCar", htmlAttributes: new { @class = "control-label col-md-2" })*@
                @Html.LabelFor(model => model.Car, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Car, new SelectList(Model.cars, "Id", "Name"), "", new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.CarModelsID, "", new { @class = "text-danger" })*@
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    }

       

    </div>
</div>
